<template>
  <div>
    <h1>Method</h1>
    <hr/>
    <h3>{{ greeting(36) }}</h3>
    <h1>{{ Arofunc(500) }}</h1>
  </div>
</template>

<script>
 const msg ="TEST"
 const username ='mark';
 const password ='1234';
 let age;
 let price;
export default {
  name: 'MethodView',
  data(){
    return {
        username,
        password,
        msg,
        age,
        price,
    }
    
  },
  methods:{
   Arofunc: (price)=> {
         return "OK" + price;
    },

    greeting:(age)=> {
        return "Hello there" + this.username + age;
    },
  },

};

</script>

<style lang="scss" scoped>

</style>
